@using Microsoft.AspNetCore.Http
@model System.Collections.Generic.IEnumerable<GitServer.ApplicationCore.Models.User>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="ui divided items">
    @foreach (var user in Model)
    {
        <div class="item">
            <div class="content">
                <a class="header">@user.Name</a>
                <div class="meta">
                    <span class="cinema">@user.Email</span>
                </div>
                <div class="description">
                    <p>@user.Description</p>
                </div>
                <div class="extra">
                    @* <div class="ui label"> *@
                    @*     <a onclick="" id="follow-user-button">关注</a> *@
                    @* </div> *@
                    <div class="ui label">
                        <a asp-action="MessageUser" asp-route-chatUserName="@user.Name">
                            <i class="globe icon"></i><私信用户></私信用户>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>